
h4 {
    font-size: 2em;
    letter-spacing: 1px;
    color: #ed1c24;
    padding: 1em 0;
    margin: 0;
}

.con-top {
    margin-top: 4em;
}

.contacto {
    width: 50%;
    float: none;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 2em;
}

label.contact-p1 {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    color: #000;
    padding-bottom: 10px;
}

button.btn.btn-primary {
    color: #fff;
    background-color: #212121;
    border: 2px solid #212121;
    font-size: 1.2em;
    padding: .7em;
    outline: none;
    width: 100%;
    letter-spacing: 1px;
    border-radius: 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}